.footer {
    padding: 4rem 6rem;
    background-color: #000;
    color: #fff
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
}
.top i {
    color: #fff;
    font-size: 2rem;
    margin-left: .5rem;
}
.top i:hover {
    color: #01959a;
}