
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}