.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
}
.navbar-logo {
    color: #222;
    cursor: pointer;
    font-size: 2rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 15px;
    list-style: none;
    align-items: center;
}
.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links i {
    padding-right: 10px;
}
.nav-links:hover {
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.nav-links-mobile {
    display: none;
}
.sign-up-button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.sign-up-button:hover {
    background-color: #151516;
    color: #fff;
}
.menu-icons {
    display: none;
}
@media screen and (max-width: 850px) {
    .navbarItems {
        z-index: 99;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }
    .nav-menu.active {
        z-index: -1;
        left: 0;
        opacity: 1;
    }
    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-links:hover {
        transition: none;
    }
    .sign-up-button {
        display: none;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        background-color: #01959a;
        color: #fff;
        text-decoration: none;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icons {
        display: block;
    }
    .menu-icons i{
        font-size: 1.2rem;
        color: #222;
    }
}