.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
}
.navbar-logo {
    color: #222;
    cursor: pointer;
    font-size: 2rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
    list-style: none;
}