.trip {
    margin: 4rem 6rem;
    color: #2a2a2a;
}
.trip h1 {
    font-size: 3rem;
}
.tripcard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.t-card {
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgb(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
}